.app-main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.app-main__navigation {
    border-top: 1px solid #999999;
    height: 10%;
}

.app-main__body {
    height: 90%;
    overflow-y: auto;
}

@media screen and (max-width: 1024px) {
    .app-main {
        flex-direction: column-reverse;
    }
}
