@media screen and (min-width: 1024px) {
}

.app-parcours {
    display: flex;
    flex-direction: column;
}

.app-parcours__header {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.app-parcours__header__logo {
}

.progress__container {
    position: relative;
}

.progress {
    width: 100vw;
    height: 550px;
}

.progress__absolute-widget {
    position: absolute;
}

.progress__absolute-text {
    position: absolute;
    font-size: 12px;
}

.progress__absolute-widget.progress__absolute-widget--1 {
    top: 140px;
    left: 48px;
}

.progress__absolute-text.progress__absolute-text--1 {
    top: 220px;
    left: 44px;
    text-align: center;
}

.progress__absolute-widget.progress__absolute-widget--2 {
    top: 288px;
    left: 265px;
}

.progress__absolute-text.progress__absolute-text--2 {
    top: 308px;
    left: 60px;
    text-align: end;
}

.progress__absolute-widget.progress__absolute-widget--3 {
    top: 394px;
    left: 124px;
}

.progress__absolute-text.progress__absolute-text--3 {
    top: 368px;
    left: 54px;
}

.progress__absolute-widget.progress__absolute-widget--4 {
    top: 522px;
    left: 5px;
}

.progress__absolute-text.progress__absolute-text--4 {
    top: 542px;
    left: 90px;
}

@media screen and (max-width: 1024px) {
}
