@media screen and (min-width: 1024px) {
    .app-welcome__footer {
        max-height: 25%;
    }
}

.app-welcome {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #3975D2;
}

.app-welcome__header {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.app-welcome__header__logo {
    width: 33%;
}

.app-welcome__navigation {
    width: 25%;
    height: 15%;
    margin: 0 auto;
}

.navigation.navigation--pills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin-top: 25%;
}

.navigation.navigation--pills .navigation__widget {
    display: flex;
}

.navigation.navigation--pills .navigation__link {
    width: 100%;
    padding: 8px;
    border-radius: 30px;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.navigation.navigation--pills .navigation__link.navigation__link--first {
    background-color: #FCB900;
}

@media screen and (max-width: 1024px) {
    .app-welcome__navigation {
        width: 70%;
    }
}
