.navigation.navigation--tabs {
    display: flex;
    height: 100%;
}

.navigation.navigation--tabs .navigation__widget {
    display: flex;
    flex: 1;
    padding: 0 5px;
}

.navigation.navigation--tabs .navigation__widget.navigation__widget--active {
    box-shadow: inset 3px 0 5px #EEEEEE, inset -3px 0 5px #EEEEEE;
}

.navigation.navigation--tabs .navigation__link {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.navigation.navigation--tabs .navigation__img {
    height: 40%;
}

.navigation.navigation--tabs .navigation__text {
    margin-top: 5px;
    text-align: center;
    font-size: 10px;
    color: #000000;
}

.navigation.navigation--tabs .navigation__widget--active .navigation__text {
    font-weight: bolder;
}
